.action-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.add-batch-btn {
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #3091c2;
    border-radius: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}


.add-batch-btn:hover {
    background-color: #22678a;
    cursor: pointer;
}

.assign-resources-btn {
    color: #2563EB;
}

.view-resources-btn {
    color: #16A34A;
}

.delete-batch-btn {
    color: #DC2626;
}