.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    border-bottom: 1px solid rgba(var(--color-primary), 0.2);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar {
    margin: 2rem 1rem;
    border-bottom: 1px dotted #c1b6b6;
    padding-bottom: 1rem;
}

.logo {
    font-size: 1.6rem;
    line-height: 1.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: math;
}

.nav-items {
    gap: 2rem;
    align-items: center;
    display: flex;
}

.nav-item {
    color: #6B7280;
    ;
    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.active-nav-item {
    color: #22678a !important;
    font-weight: 600;
}

.nav-item:hover {
    color: #3091c2;
}