.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    border-bottom: 1px solid rgba(var(--color-primary), 0.2);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-items {
    gap: 2rem;
    align-items: center;
    display: flex;
}