.profile-menu-items {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #bfc3ca;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: #f2f4f7;
    box-shadow: 0px 8px 24px 0px rgba(16, 24, 40, 0.12);
}

.profile-menu-item {
    font-size: 0.9rem;
    display: flex;
    gap: 0.3rem;
    background: none;
    cursor: pointer;
}

.profile-button {
    border: none;
    background: none;
    color: #22678a;
    cursor: pointer;
}

.pdf-viewer {
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pdf-control {
    background: rgba(48, 145, 194, 0.2);
    color: #3091c2;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    height: 2.1rem;
    width: 2.1rem;
    padding: 0.5rem;
}

.pdf-page-button {
    background: none;
    border: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.watermark-email {
    position: fixed;
    bottom: 4rem;
    right: 15.5rem;
    color: #9ca3af;
    font-size: 0.875rem;
    opacity: 0.4;
    font-style: italic;
    user-select: none;
}