.profile-menu-items {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #bfc3ca;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: #f2f4f7;
    box-shadow: 0px 8px 24px 0px rgba(16, 24, 40, 0.12);
}

.profile-menu-item {
    font-size: 0.9rem;
    display: flex;
    gap: 0.3rem;
    background: none;
    cursor: pointer;
}

.profile-button {
    border: none;
    background: none;
    color: #22678a;
    cursor: pointer;
}

.pdf-viewer {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}