.reset-pwd-btn {
    border: none;
    background: none;
    white-space: nowrap;
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: 500;
    color: #2563EB;
}

.edit-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.assign-btn {
    background: none;
    border: none;
    white-space: nowrap;
    font-size: 0.875rem;
    gap: 9px;
    cursor: pointer;
    font-weight: 500;
    color: #2563EB;
}

.add-student-btn {
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #3091c2;
    border-radius: 0.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}


.add-student-btn:hover {
    background-color: #22678a;
    cursor: pointer;
}

.ag-theme-alpine .ag-header-cell-label,
.ag-theme-alpine .ag-cell {
  justify-content: flex-start !important;
  text-align: left !important;
}

.ag-paging-panel {
    .ag-paging-page-size .ag-wrapper {

        height: 2rem;
        width: 3.5rem;
        font-size: 1rem;
    }
    
    .ag-label { 
        font-size: 15px;
    }

    .ag-paging-row-summary-panel, .ag-paging-page-summary-panel {
        font-size: 1rem;
    }
}